:host {
  flex: 1 1 auto;
  display: flex;
}

.viewer {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
