<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <a mat-button (click)="goHome()"><h1>Clearway Test</h1></a>
    <span class="spacer"></span>
    <h1 *ngIf="currentPageName">
      {{ currentPageName || 'Название документа не указано' }}
    </h1>
    <span class="spacer"></span>
    <div class="button__block" *ngIf="currentPageName">
      <div class="zoom">
        <button mat-mini-fab (click)="zoomService.zoomIn()">
          <mat-icon>add</mat-icon>
        </button>
        <span>{{ (zoomService.currentZoomLevel * 100).toFixed(0) }} %</span>
        <button mat-mini-fab (click)="zoomService.zoomOut()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <button mat-fab extended class="button">
        <mat-icon>save</mat-icon>
        Сохранить
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
