<div
  class="annotation"
  cdkDragBoundary="boundary"
  (click)="onAnnotationClick($event)"
  cdkDrag
  (cdkDragEnded)="onDragEnd($event, data)"
  #dragElement
>
  <button mat-mini-fab class="button" (click)="onDelete(data.itemId)">
    <mat-icon>close</mat-icon>
  </button>
  <div class="text__block" [ngClass]="{ hide: data.type === 'image' }">
    <span class="text">{{ data.type === 'text' ? data.data : '' }}</span>
  </div>
  <div class="image__block" [ngClass]="{ hide: data.type === 'text' }">
    <img class="image" [src]="data.type === 'image' ? data.data : ''" alt="Image" />
  </div>
</div>
