:host {
  width: 100%;
  height: 100%;
  background-color: var(--mat-sys-secondary);
}

.view {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
  top: 0;
  overflow: auto;
  background-color: var(--mat-sys-secondary);
  margin-bottom: 20px;
}

.list {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  overflow: auto;
}

.image {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    flex: 1 1 auto;
    width: fit-content;
    height: fit-content;
  }
}
